<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>JobPlus</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">

    <style>
        footer {
            background-color: #34495e; /* Màu nền xanh đậm */
            padding: 50px 0;
            margin-top: 50px;
        }

            footer .footer-container {
                max-width: 1200px;
                margin: 0 auto;
            }

            footer h4 {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
                color: white;
            }

            footer ul {
                list-style-type: none;
                padding: 0;
            }

                footer ul li {
                    margin-bottom: 10px;
                }

                    footer ul li a {
                        text-decoration: none;
                        color: #ecf0f1; /* Màu chữ sáng */
                    }

                        footer ul li a:hover {
                            color: #3498db; /* Màu chữ khi hover */
                        }

            footer .footer-bottom {
                text-align: center;
                padding-top: 20px;
                border-top: 1px solid #2c3e50;
                margin-top: 30px;
                color: white;
            }
    </style>
</head>

<body>
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">

            <a href="#" class="logo d-flex align-items-center me-auto">
                <h1 class="sitename">JobPlus</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="@Url.Action("Index", "UV", new { area = "UngVien" })">Trang chủ</a></li>
                    <li><a href="@Url.Action("IndexProfileUV", "UV", new { area = "UngVien" })">Thông tin cá nhân</a></li>
                    <li class="dropdown">
                        <a href="#"><span>Công việc</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="@Url.Action("DSNhaTuyenDung", "UV", new { area = "UngVien" })">Danh sách nhà tuyển dụng</a></li>
                            <li><a href="@Url.Action("ListBaiTuyenDung", "UV", new { area = "UngVien" })">Bài tuyển dụng </a></li>
                            <li><a href="@Url.Action("DSUngTuyen", "UV", new { area = "UngVien" })">Danh sách ứng tuyển </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#"><span>Góp ý</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="mailto:nhanhtvt111@gmail.com">Email</a></li>
                            <li><a href="https://www.facebook.com/nhanh1412">Facebook</a></li>
                        </ul>
                    </li>
                    <a class="btn-getstarted" href="@Url.Action("IndexAll", "Home", new { area = "" })">Đăng xuất</a>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

        </div>
    </header>

    @RenderBody()

    <footer>
        <div class="footer-container">
            <div class="row">
                <!-- Chúng tôi -->
                <div class="col-md-4">
                    <h4>Chúng Tôi</h4>
                    <p style="color: white;">Đây là trang web do 2 sinh viên lớp 21DTHF2 của trường đại học Hutech thực hiện</p>
                </div>
                <!-- Thông tin liên hệ -->
                <div class="col-md-4">
                    <h4>Thông Tin Liên Hệ</h4>
                    <ul>
                        <li style="color: white;">Địa chỉ: Thủ Đức Campus, Xa lộ Hà Nội, tp.Thủ Đức.</li>
                        <li><a href="#">Điện thoại: 0833634655</a></li>
                        <li><a href="mailto:nhanhtvt111@gmail.com">Email: nhanhtvt111@gmail.com</a></li>
                        <li><a href="https://www.facebook.com/messages/t/nhanh1412">Facebook: Phạm Nhanh</a></li>
                    </ul>
                </div>
                <!-- Thông tin đồ án -->
                <div class="col-md-4">
                    <h4>Thông Tin Đồ Án</h4>
                    <ul>
                        <li><a href="#">Giảng viên hướng dẫn: ThS. Nguyễn Văn Danh</a></li>
                        <li><a href="#">Sinh viên thực hiện:</a></li>
                        <li><a href="#">1. Phạm Hoa Nhanh</a></li>
                        <li><a href="#">2. Nguyễn Đình Chương</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <p>ĐỒ ÁN CƠ SỞ | Hệ Thống Thông Tin | Website tìm việc nhóm 16</p>
        </div>
    </footer>

    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>
