<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/NhaTuyenDung.css">
</head>

<body>
    <header>
        <div class="header-area header-transparrent ">
            <div class="headder-top header-sticky">
                <div class="khungcongcu1">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-md-2">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="~?images/Logo.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <div class="menu-wrapper">
                                <!-- Main-menu -->
                                <div class="main-menu">
                                    <nav class="d-none d-lg-block">
                                        <ul id="navigation">
                                            <li><a  href="@Url.Action("Index", "NTD", new { area = "NhaTuyenDung" })">Trang chủ</a></li>
                                            <li><a href="@Url.Action("IndexProfileNTD", "NTD", new { area = "NhaTuyenDung" })">Thông tin nhà tuyển dụng</a></li>
                                            <li>
                                                <a href="#">Chiến dịch tuyển dụng</a>
                                                <ul class="submenu">
                                                    <li><a href="@Url.Action("AddBaiTuyenDung", "NTD", new { area = "NhaTuyenDung" })">Thêm bài tuyển dụng</a></li>
                                                    <li><a href="@Url.Action("ListBaiTuyenDung", "NTD", new { area = "NhaTuyenDung" })">Bài tuyển dụng của công ty</a></li>
                                                    <li><a href="@Url.Action("DSUngVien", "NTD", new { area = "NhaTuyenDung" })">Danh sách ứng viên</a></li>
                                                    <li><a href="@Url.Action("DSUngTuyen", "NTD", new { area = "NhaTuyenDung" })">Danh sách ứng tuyển</a></li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="#">Góp ý</a>
                                                <ul class="submenu">
                                                    <li><a href="mailto:nhanhtvt111@gmail.com"> Email</a></li>
                                                    <li><a href="https://www.facebook.com/nhanh1412">Facebook</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="header-btn d-none f-right d-lg-block">
@*                                     <a href="#" class="btn head-btn1">Register</a>
                                    <a href="#" class="btn head-btn2">Login</a> *@
                                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("IndexAll", "Home", new { area = "" })" method="post">
                                        <button type="submit" class="nav-link btn btn-link text-dark">Đăng xuất</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="footer-area footer-bg footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <h4>Chúng Tôi</h4>
                                    <div class="footer-pera">
                                        <p>Đây là trang web do 2 sinh viên lớp 21DTHF2 của trường đại học Hutech thực hiện </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Thông Tin Liên Hệ</h4>
                                <ul>
                                    <li>
                                        <p>Địa chỉ: Thủ Đức Campus, Xa lộ Hà Nội, tp.Thủ Đức.</p>
                                    </li>
                                    <li><a href="#">Điện thoại: 0833634655</a></li>
                                    <li><a href="mailto:nhanhtvt111@gmail.com">Email: nhanhtvt111@gmail.com</a></li>
                                    <li><a href="https://www.facebook.com/messages/t/nhanh1412">Facebook: Phạm Nhanh</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Thông tin đồ án cơ sở</h4>
                                <ul>
                                    <li><a href="#">Giảng viên hướng dẫn: ThS.Nguyễn Văn Danh</a></li>
                                    <li><a href="#">Sinh viên thực hiện:</a></li>
                                    <li><a href="#">1. Phạm Hoa Nhanh</a></li>
                                    <li><a href="#">2. Nguyễn Đình Chương</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

        <div class="footer-bottom-area footer-bg">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-8">
                            <div class="footer-copy-right">
                                <p>
                                   ĐỒ ÁN CƠ SỞ | Hệ Thống Thông Tin | Website tìm việc nhóm 16
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
@*     <script src="~/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="~/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.slicknav.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/price_rangs.js"></script>
    <script src="~/js/wow.min.js"></script>
    <script src="~/js/animated.headline.js"></script>
    <script src="~/js/jquery.magnific-popup.js"></script>
    <script src="~/js/jquery.scrollUp.min.js"></script>
    <script src="~/js/jquery.nice-select.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>
    <script src="~/js/contact.js"></script>
    <script src="~/js/jquery.form.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script> *@

</body>
</html>