@model WEBTimViec.Models.ApplicationUser

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<p>
    <a href="@Url.Action("DSNhaTuyenDung", "UV", new { area = "UngVien" })" class="button">Quay lại</a>
</p>
<body>
    <h1 class="tieude">Thông tin nhà tuyển dụng</h1>
@*     <div class="khung">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img class="rounded-circle mt-5" width="150px" src="@Model.image_url">
        </div>
    </div> *@
    <div class ="khung">
        <div class=" khungchu2">
            <p><strong>Tên công ty:</strong> @Model.NhaTuyenDung_name</p>
            <p><strong>Giới thiệu:</strong> @Model.GioiThieuNhaTuyenDung</p>
            <p><strong>Địa chỉ:</strong> @Model.DiaChi</p>
            <p><strong>Số điện thoại:</strong> @Model.SDTNhaTuyenDung</p>
            <p><strong>Website:</strong> @Model.Website</p>
            <p><strong>Thời gian tạo:</strong> @Model.ThoiGianTao</p>
            <p><strong>Thời gian cập nhật:</strong> @Model.ThoiGianCapNhat</p>
        </div>

    </div>
</body>
</html>
