@model IEnumerable<WEBTimViec.Models.UngTuyen>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>JobPlus</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <button class="styled-button">
            <a style="color: black;" href="@Url.Action("DSUngTuyen", "UV")"> <<< </a>
        </button>

        <h1 class="tieude">Danh sách bài ứng tuyển</h1>
        @if (Model == null || !Model.Any())
        {
            <p>Bạn chưa ứng tuyển vào bài tuyển dụng này</p>

        }

        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Mã ứng tuyển</th>
                        <th>Tên ứng viên</th>
                        <th>Thời gian ứng tuyển</th>
                        <th>CV</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ungtuyen in Model)
                    {
                        <tr>
                            <td style="font-size: 20px;color:black">@ungtuyen.UngTuyen_id</td>
                            <td style="font-size: 20px;color:black">@ungtuyen.TenUngVien</td>
                            <td style="font-size: 20px;color:black">@ungtuyen.ThoiGianUngTuyen</td>
                            <td style="font-size: 20px; color: black">
                                <a href="@ungtuyen.url_CV" target="_blank" style="font-size: 20px; color: Green">Xem CV</a>
                            </td>

                            <td>
                                @if (ungtuyen.TrangThai == null)
                                {
                                    <label class="badge badge-warning">Chưa phê duyệt</label>
                                }
                                else
                                {
                                    <div>
                                        Phản hồi từ nhà tuyển dụng:
                                    </div>
                                    <label class="badge badge-success"> @ungtuyen.TrangThai</label>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</body>
</html>
