@model IEnumerable<WEBTimViec.Models.ApplicationUser>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>JobPlus</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<button class=" styled-button">
    <a style="color: black;" href="@Url.Action("Index", "UV")"> <<< </a>
</button>

<body>
    <div class="khung3">
        <h1 class="tieude">Danh sách nhà tuyển dụng</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tên công ty</th>
@*                     <th>Email</th> *@
                    <th>Địa chỉ</th>
@*                     <th>Điện thoại</th> *@
                    <th>Website</th>
                    <th >Thêm</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model)
                {
                    <tr>
                        <td>@company.NhaTuyenDung_name</td>
@*                         <td>@company.Email</td> *@
                        <td>@company.DiaChi</td>
@*                         <td>@company.SDTNhaTuyenDung</td> *@
                        <td>@company.Website</td>
                        <td>
                            <a href="@Url.Action("DetailsNhaTuyenDung", "UV", new { id = company.Id })" class="btn btn-info">Xem chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
