@model ViewModel

@{
    ViewData["Title"] = "Trang chủ  ";
    Layout = "~/Views/Shared/_layoutUngVien.cshtml";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>JobPlus</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">
</head>
<body>

        <div>

            <div class="slider-area ">
                <div class="slider-active">

                    <div class="single-slider slider-height d-flex align-items-center">

                        <div class="container1">
                            <div class="row">
                                <img class="hero__image media" src="~/images/elements/g1.jpg" alt="" style="width: 100%; height: auto;">
                                <div class="col-xl-6 col-lg-9 col-md-10">
                                    <div class="hero__caption">
                                        <h1>Bạn có năng lực</h1>

                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-3 col-md-2">
                                    <div class="hero__caption">
                                        <h1> Chúng tôi có công việc</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="khung">
            <div class="our-services section-pad-t30">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>QUYẾT ĐỊNH TƯƠNG LAI CỦA BẠN</span>
                            <h2>Chuyên ngành nổi bật</h2>
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    @foreach (var major in Model.Majors)
                    {
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-services text-center mb-30">
                                <div class="services-ion">
@*                                     <span class="flaticon-tour"></span>  *@
                                </div>
                                <div class="services-cap">
                                    <h5><a href="#">@major.ChuyenNganhName</a></h5>
                                    <span>(@major.JobCount)</span>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="browse-btn2 text-center mt-50">
                            <a href="@Url.Action("ListBaiTuyenDung", "UV")" class="border-btn2">Tất cả bài tuyển dụng</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="card">
        <div class="khung">
            <div>
                <div class="card">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <span>Tìm kiếm công việc bạn ưa thích</span>
                        </div>
                    </div>
                        <form action="@Url.Action("TimKiem", "UV")" method="get">
                            <div class="row g-2 align-items-end">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="JobName" class="control-label" style="font-weight: bold;">Tên công việc</label>
                                        <input type="text" name="JobName" class="form-control" placeholder="Tên công việc" style="height: calc(2.25rem + 2px); border: 1px solid #ccc; padding: 0.375rem 0.75rem; border-radius: 4px;" value="@Model.JobName" />
                                        <span asp-validation-for="JobName" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-3" style="padding-right: 10px;">
                                    <div class="form-group">
                                        <label asp-for="ThanhPhoId" class="control-label" style="font-weight: bold;">Địa điểm công ty</label>
                                        <select asp-for="ThanhPhoId" class="form-control">
                                            <option value="">-- Chọn tỉnh - Thành phố --</option>
                                            @foreach (var thanhPho in Model.ThanhPhos)
                                            {
                                                <option value="@thanhPho.ThanhPho_id">@thanhPho.ThanhPho_name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="ThanhPhoId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding-right: 10px;">
                                    <div class="form-group">
                                        <label asp-for="chuyenNganhId" class="control-label" style="font-weight: bold;">Chuyên ngành yêu cầu</label>
                                        <select asp-for="chuyenNganhId" class="form-control">
                                            <option value="">-- Chọn chuyên ngành --</option>
                                            @foreach (var chuyenNganh in Model.ChuyenNganhs)
                                            {
                                                <option value="@chuyenNganh.ChuyenNganh_id">@chuyenNganh.ChuyenNganh_name</option>
                                            }
                                        </select>
                                        <span asp-validation-for="chuyenNganhId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-auto">
                                    <button type="submit" class="btn btn-dark border-0">Tìm kiếm</button>
                                </div>
                            </div>
                        </form>

                        <div class="col-lg-12">
                            <h5 class="tieude">
                                Bài tuyển dụng phù hợp
                            </h5>
                        </div>
                        <div class="row">
                            @foreach (var baiTuyenDung in Model.BaiTuyenDung)
                            {
                                <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title overflow-ellipsis">@baiTuyenDung.TenCongViec</h3>
                                            <p class="card-text overflow-ellipsis"><strong>Công ty: </strong>@baiTuyenDung.applicationUser.NhaTuyenDung_name</p>
                                            <p class="card-text overflow-ellipsis"><strong>Thành phố làm việc:</strong> @baiTuyenDung.thanhPho.ThanhPho_name</p>
                                            <p class="card-text overflow-ellipsis"><strong>Lương:</strong> @baiTuyenDung.Luong_min - @baiTuyenDung.Luong_max triệu đồng</p>
                                            <p class="card-text overflow-ellipsis"><strong>Loại công việc:</strong> @baiTuyenDung.KieuCongViec</p>
                                            <p class="card-text overflow-ellipsis"><strong>Hạn nộp hồ sơ:</strong> @baiTuyenDung.ThoiGianHetHan</p>
                                            <a href="@Url.Action("DetailsBaiTuyenDung", new { id = baiTuyenDung.BaiTuyenDung_id })" class="border-btn2">Chi tiết</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                </div>
            </div>
        </div>
    </div>
</body>