@model WEBTimViec.Models.ApplicationUser
@{
    ViewData["Title"] = "Thông tin ứng viên";
}

<div class="container-fluid bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="@Model.image_url">
                <span style="font-family: 'Times New Roman'" class="font-weight-bold"><h4>@Model.FullName</h4></span>
                <span class="text-black-50">@Model.Email</span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 style="font-family: 'Times New Roman'" class="text-right">Thông tin ứng viên</h3>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <label class="labels" style="font-family: 'Times New Roman'; font-size: 20px">Tên ứng viên</label>
                        <div class="form-control" style="font-family: 'Times New Roman'; font-size: 18px">@Model.FullName</div>
                    </div>
                    <div class="col-md-6">
                        <label class="labels" style="font-family: 'Times New Roman'; font-size: 20px">SDT ứng viên</label>
                        <div class="form-control" style="font-family: 'Times New Roman'; font-size: 18px">@Model.SDT_UngVien</div>
                    </div>
                    <div class="col-md-6">
                        <label class="labels" style="font-family: 'Times New Roman'; font-size: 20px">Email</label>
                        <div class="form-control" style="font-family: 'Times New Roman'; font-size: 18px">@Model.Email</div>
                    </div>
                    <div class="col-md-12">
                        <label class="labels" style="font-family: 'Times New Roman'; font-size: 20px">Địa chỉ</label>
                        <div class="form-control" style="font-family: 'Times New Roman'; font-size: 18px">@Model.DiaChi</div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <label class="labels" style="font-family: 'Times New Roman'; font-size: 20px">Giới thiệu bản thân</label>
                        <textarea class="form-control" style="font-family: 'Times New Roman'; height: 200px; font-size: 18px">@Model.TuGioiThieu</textarea>
                    </div>
                </div>
                <div class="mt-5 text-center">
                    <a class="btn btn-primary" asp-controller="UV" asp-action="UpdateProfileUV" style="font-family: 'Times New Roman'; font-size: 20px" asp-route-id="@Model.Id">Chỉnh sửa thông tin</a>
                </div>
            </div>
        </div>
    </div>
</div>
