@model WEBTimViec.Models.UngTuyen
@* @{
    ViewData["Title"] = "Ứng tuyển";
} *@
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>JobPlus</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">
</head>
<div class="ha1">
    <div class="khungchu2">
        <div class="khungchu2">

            <h3 class="tieude">Ứng tuyển cho công việc: @ViewBag.BaiTuyenDung.TenCongViec</h3>

            <form asp-action="UngTuyen" method="post" enctype="multipart/form-data">
                <div class="info-section">
                    <div class="info-item1">
                        <label class="form-label me-2 mb-0">Tên ứng viên: </label>
                        <span id="tenUngVien">@ViewBag.NguoiDung.FullName</span>
                        <input type="hidden" name="TenUngVien" id="hiddenTenUngVien" value="@ViewBag.NguoiDung.FullName">
                    </div>
                    <div class="info-item1">
                        <label class="form-label me-2 mb-0">Email: </label>
                        <span id="emailUV">@ViewBag.NguoiDung.Email</span>
                        <input type="hidden" name="EmailUV" id="hiddenEmailUV" value="@ViewBag.NguoiDung.Email">
                    </div>

                    <div class="info-item1">
                        <label asp-for="url_CV" class="form-label me-2 mb-0">Chọn CV</label>
                        <input type="file" asp-for="url_CV" class="form-control bg-white" required>
                        <span asp-validation-for="url_CV" class="text-danger"></span>
                    </div>
                    <div class="info-item1">
                        <textarea class="form-control" asp-for="ThuGioiThieu" rows="5" placeholder="Thư giới thiệu"></textarea>
                        <span asp-validation-for="ThuGioiThieu" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Ứng tuyển ngay</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Lấy giá trị tên người dùng từ span và gán vào trường ẩn
        var tenUngVien = $('#tenUngVien').text();
        $('#hiddenTenUngVien').val(tenUngVien);
    });

</script>
<script>
    $(document).ready(function () {
        // Lấy giá trị email từ span và gán vào trường ẩn
        var emailUV = $('#emailUV').text();
        $('#hiddenEmailUV').val(emailUV);
    });

</script>