@model WEBTimViec.Models.BaiTuyenDung

@{
    ViewData["Title"] = "DetailsBaiTuyenDung";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - WEBTimViec</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #1a1a1a;
            color: #fff;
            padding-top: 20px; /* Để không dính vào top của browser */
        }

        .card {
            margin-bottom: 20px;
            background-color: #333;
            color: #fff;
            border: none;
            transition: transform 0.3s ease; /* Hiệu ứng khi hover */
        }

        a {
            color: #17a2b8; /* Màu xanh dương nhạt cho các đường link */
        }

        .card:hover {
            transform: translateY(-5px); /* Hiệu ứng nhảy lên khi hover */
        }

        .card-title {
            font-size: 1.25rem;
            font-weight: bold;
            margin-bottom: 10px;
            color: #fff;
        }

        .card-text {
            margin-bottom: 5px;
            color: #ccc; /* Màu chữ xám nhạt cho nội dung */
        }

        .btn-primary {
            background-color: #17a2b8;
            border-color: #17a2b8;
            transition: background-color 0.3s ease, border-color 0.3s ease; /* Hiệu ứng khi hover */
        }

            .btn-primary:hover {
                background-color: green;
                border-color: green;
            }
    </style>
</head>

<p>
    <a href="@Url.Action("Index")" class="btn btn-primary">Back to List</a>
</p>
<h1>Chi tiết bài tuyển dụng</h1>

<div>
@*     <h4>BaiTuyenDung</h4> *@
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            Tên Công Việc
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TenCongViec)
        </dd>
        <dt class = "col-sm-2">
            Mô tả công việc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTaCongViec)
        </dd>
        <dt class = "col-sm-2">
            Yêu cầu kỹ năng
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YeuCauKyNang)
        </dd>
        <dt class = "col-sm-2">
            Phúc lợi
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhucLoi)
        </dd>
        <dt class = "col-sm-2">
            Lương tối thiểu
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luong_min) Triệu
        </dd>
        <dt class = "col-sm-2">
            Lương tối đa 
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Luong_max) Triệu
        </dd>
        <dt class = "col-sm-2">
            Kiểu công việc
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KieuCongViec)
        </dd>
        <dt class = "col-sm-2">
            Thời gian đăng bài
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianDangBai)
        </dd>
        <dt class = "col-sm-2">
            Thời gian hết hạn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiGianHetHan)
        </dd>
        <dt class="col-sm-2">
            Thành phố làm việc
        </dt>
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thanhPho)
        </dt>
 *@
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thanhPho.ThanhPho_name)
        </dd>
        <dt class="col-sm-2">
            Yêu cầu kinh nghiệm
        </dt>
@*         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kinhNghiem)
        </dt> *@
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kinhNghiem.NamKinhNghiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.chuyenNganh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.chuyenNganh.ChuyenNganh_id)
        </dd>
    </dl>
</div>
<div>
    <button onclick="location.href='@Url.Action("UngTuyen", new { id = Model?.BaiTuyenDung_id })'" class="btn btn-primary">Ứng tuyển</button>
</div>

@* <div>
    <p>    <button href="@Url.Action("UngTuyen", new { id = Model?.BaiTuyenDung_id })">Ứng tuyển</button></p>



</div> *@
