@model IEnumerable<WEBTimViec.Models.UngTuyen>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h2 style="margin-bottom:20px; font-family:'Times New Roman'">
                Công ty đã ứng tuyển
            </h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead style=" font-weight: bold; font-size: 20px;">
                        <tr>
                            <th style="font-weight: bold; font-size: 30px;color:black; font-family:'Times New Roman'">Tên công ty</th>
                            <th style="font-weight: bold; font-size: 30px;color:black; font-family:'Times New Roman'">Vị trí</th>
                            <th style="font-weight: bold; font-size: 30px;color:black; font-family:'Times New Roman'">Thông tin liên hệ</th>
                            <th style="font-weight: bold; font-size: 30px;color:black; font-family:'Times New Roman'">Ngày ứng tuyển</th>
                            <th style="font-weight: bold; font-size: 30px;color:black; font-family:'Times New Roman'">Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    @* <tbody>
                        @foreach (var job in Model)
                        {
                            <tr>
                                <td style="font-size: 20px;color:black">

                                    @if (!string.IsNullOrEmpty(job.BaiTuyenDung?.applicationUser?.image_url))
                                    {
                                        <img src="@job.BaiTuyenDung?.applicationUser?.image_url" alt="Avatar" style="height:70px; width:70px">
                                    }
                                    else
                                    {
                                        <img src="~/img/hih.png" alt="Avatar">
                                    }
                                    <span>@job.applicationUser?.company_name</span>
                                </td>
                                <td style="font-size: 20px;color:black">@job.BaiTuyenDung?.TenCongViec</td>
                                <td style="font-size: 20px;color:black">
                                    <div>
                                        <!-- Icon email -->
                                        <i class="mdi mdi-email" style="color:green"></i>
                                        <!-- Hiển thị email -->
                                        <span>@job.applicationUser?.Email</span>
                                    </div>
                                    <div>
                                        <!-- Icon số điện thoại -->
                                        <i class="mdi mdi-phone" style="color:green"></i>
                                        <!-- Hiển thị số điện thoại -->
                                        <span>@job.applicationUser?.SDTNhaTuyenDung</span>
                                    </div>
                                </td>
                                <td style="font-size: 20px;color:black">
                                    <!-- Icon lịch -->
                                    <i class="mdi mdi-calendar"></i>
                                    <!-- Hiển thị ngày tạo -->
                                    <span>@job.create_at</span>
                                </td>
                                <td style="font-size: 20px;color:black">
                                    <style>
                                        /* Màu vàng cho nút đang chờ */
                                        .badge.badge-warning {
                                            background-color: #ffc107;
                                            color: #fff; /* Chữ trắng */
                                        }

                                        /* Màu xanh cho nút đã duyệt */
                                        .badge.badge-success {
                                            background-color: #28a745;
                                            color: #fff; /* Chữ trắng */
                                        }

                                    </style>
                                    @if (job.TrangThai == null)
                                    {
                                        <label class="badge badge-warning">Đang chờ</label>
                                    }
                                    else
                                    {
                                        <label class="badge badge-success">Đã duyệt</label>
                                    }
                                </td>
                                <td>
                                    <a class="btn btn-info" href="/User/Home/DetailsApply/@job.applicationUser">Chi tiết</a>
                                </td>
                            </tr>
                        }
                    </tbody> *@
                </table>
            </div>
        </div>
    </div>
</div>
