@model IEnumerable<WEBTimViec.Models.ChuyenNganh>

@{
    ViewData["Title"] = "IndexChuyenNganh";
}

<h1>IndexChuyenNganh</h1>

<p>
    <a asp-action="AddChuyenNganh">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChuyenNganh_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChuyenNganh_name)
            </td>
            <td>
                <a asp-action="#" asp-route-id="@item.ChuyenNganh_id">Edit</a> |
                <a asp-action="#" asp-route-id="@item.ChuyenNganh_id">Details</a> |
                <a asp-action="#" asp-route-id="@item.ChuyenNganh_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
