@model WEBTimViec.Models.BaiTuyenDung

@{
    ViewData["Title"] = "Thêm bài tuyển dụng";
    Layout = "~/Views/Shared/_LayoutNhaTuyenDung.cshtml";
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body class="background">
    <p>
        <a href="@Url.Action("Index", "NTD", new { area = "NhaTuyenDung" })" class="button">Back to List</a>
    </p>
    <h1 class="tieude">Thêm tin tuyển dụng</h1>
    <hr />
    @*     <div class="form-container"> *@
    <div class="form-container">
        <form asp-action="AddBaiTuyenDung" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="TenCongViec" class="control-label"><i class="fas fa-user"></i> Tên công việc</label>
                    <input asp-for="TenCongViec" class="form-control" required />
                    <span asp-validation-for="TenCongViec" class="text-danger"></span>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="MoTaCongViec" class="control-label"><i class="fas fa-file-alt"></i> Mô tả công việc</label>
                    <textarea asp-for="MoTaCongViec" class="form-control" rows="5" required></textarea>
                    <span asp-validation-for="MoTaCongViec" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="YeuCauKyNang" class="control-label"><i class="fas fa-check"></i> Yêu cầu công việc</label>
                    <textarea asp-for="YeuCauKyNang" class="form-control" rows="5" required></textarea>
                    <span asp-validation-for="YeuCauKyNang" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">

                <div class="form-group col-md-2>
                    <label for="ChuyenNganhIds">Chuyên Ngành</label>
                    <select id="ChuyenNganhIds" name="ChuyenNganhIds" multiple class="form-control">
                        @foreach (var chuyenNganh in ViewBag.ChuyenNganh)
                        {
                            <option value="@chuyenNganh.Value">@chuyenNganh.Text</option>
                        }
                    </select>
                </div>

                <div class="form-group col-md-2">
                    <label for="ViTriCongViecIds">Vị Trí Công Việc</label>
                    <select id="ViTriCongViecIds" name="ViTriCongViecIds" multiple class="form-control">
                        @foreach (var viTri in ViewBag.ViTriCongViec)
                        {
                            <option value="@viTri.Value">@viTri.Text</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="KyNangMemIds">Kỹ Năng Mềm</label>
                    <select id="KyNangMemIds" name="KyNangMemIds" multiple class="form-control">
                        @foreach (var kyNangMem in ViewBag.KyNangMem)
                        {
                            <option value="@kyNangMem.Value">@kyNangMem.Text</option>
                        }
                    </select>
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="KieuCongViec" class="control-label"><i class="fas fa-briefcase"></i> Loại công việc</label>
                    <select asp-for="KieuCongViec" class="form-control">
                        <option value="Full-Time">Full-Time</option>
                        <option value="Part-Time">Part-Time</option>
                    </select>
                    <span asp-validation-for="KieuCongViec" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <div class="row">
                        <div class="col">
                            <label asp-for="Luong_min" class="control-label"><i class="fas fa-money-bill"></i> Lương từ</label>
                            <div class="input-group">
                                <input asp-for="Luong_min" class="form-control" type="number" required />
                                <div class="input-group-append">
                                    <span class="input-group-text">triệu đồng</span>
                                </div>
                            </div>
                            <span asp-validation-for="Luong_min" class="text-danger"></span>
                        </div>
                        <div class="col">
                            <label asp-for="Luong_max" class="control-label"><i class="fas fa-money-bill"></i> Đến</label>
                            <div class="input-group">
                                <input asp-for="Luong_max" class="form-control" type="number" required />
                                <div class="input-group-append">
                                    <span class="input-group-text">triệu đồng</span>
                                </div>
                            </div>
                            <span asp-validation-for="Luong_max" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="PhucLoi" class="control-label"><i class="fas fa-gift"></i> Phúc lợi</label>
                    <textarea asp-for="PhucLoi" class="form-control" rows="5" required></textarea>
                    <span asp-validation-for="PhucLoi" class="text-danger"></span>
                </div>

                </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <label asp-for="thanhPhoId" class="control-label" style="font-weight: bold;">Địa điểm công ty</label>
                    <select asp-for="thanhPhoId" asp-items="ViewBag.ThanhPho" class="form-control">
                        <option value="">-- Chọn tỉnh - Thành phố --</option>
                    </select>
                    <span asp-validation-for="thanhPhoId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="kinhNghiemId" class="control-label" style="font-weight: bold;">
                        <i class="fas fa-user-tie"></i>
                        Kinh nghiệm ứng viên
                    </label>
                    <select asp-for="kinhNghiemId" asp-items="ViewBag.KinhNghiem" class="form-control">
                        <option value="">-- Chọn Kinh nghiệm --</option>
                    </select>
                    <span asp-validation-for="kinhNghiemId" class="text-danger"></span>
                </div>
                </div>
            <div class="form-row">
                <div class="form-group">
                    <label asp-for="ThoiGianHetHan" class="control-label"><i class="fas fa-calendar"></i> Hạn nộp hồ sơ</label>
                    <input asp-for="ThoiGianHetHan" class="form-control datepicker" asp-format="{0:dd/MM/yy}" required />
                    <span asp-validation-for="ThoiGianHetHan" class="text-danger"></span>
                </div>
            </div>

            <div class="center-text">
                <input type="submit" value="Đăng bài tuyển dụng" class="thembaituyendung" />
            </div>
        </form>
    </div>
    @*     </div> *@

    @*     Kiểm tra trong ViewBag có dữ liệu không
    @foreach (var item in ViewBag.ThanhPho)
    {
    <p>@item.Text - @item.Value</p>
    } *@

    @* @section Scripts {
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script>
            $(function () {
                var today = new Date();
                $(".datepicker").datepicker({
                    dateFormat: "dd/mm/yy",
                    minDate: today
                });
            });


        </script>
    } *@
</body>
</html>
