@model IEnumerable<WEBTimViec.Models.UngTuyen>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/NhaTuyenDung.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <button class=" styled-button" >
        <a style="color: black;" href="@Url.Action("DSUngTuyen", "NTD")"> <<< </a>
    </button>
    <div class="khung4">
        <h1 class="tieude">Chi tiết các bài ứng tuyển</h1>
         @if (Model.Any())
        {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Mã ứng tuyển</th>
                    <th>Tên ứng viên</th>
                    <th>Email ứng viên</th>
                    <th>Thời gian ứng tuyển</th>
                    <th>Thư giới thiệu</th>
                    <th>CV</th>
                    <th>Phản hồi</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ungtuyen in Model)
                {
                    <tr>
                        <td style="font-size: 20px;color:black">@ungtuyen.UngTuyen_id</td>
                        <td style="font-size: 20px;color:black">@ungtuyen.TenUngVien</td>
                        <td style="font-size: 20px;color:black">@ungtuyen.EmailUV</td>
                        <td style="font-size: 20px;color:black">@ungtuyen.ThoiGianUngTuyen</td>
                        <td style="font-size: 20px;color:black">@ungtuyen.ThuGioiThieu</td>
                        <td style="font-size: 20px; color: black">
                            <a href="@ungtuyen.url_CV" target="_blank" style="font-size: 20px; color: black">>Xem CV</a>
                        </td>
                        <td>
                            <form class="feedback-form">
                                <input type="hidden" name="UngTuyen_id" value="@ungtuyen.UngTuyen_id" />
                                <input type="hidden" name="BaiTuyenDung_id" value="@ungtuyen.BaiTuyenDungid" />
                                @if (ungtuyen.TrangThai == null)
                                {
                                    <input type="text" class="form-control" name="TrangThai" placeholder="Nhập phản hồi" value="@ungtuyen.TrangThai" />
                                    <button type="submit" class="btn btn-primary mt-2">Gửi phản hồi</button>
                                }
                                else
                                {
                                    <input type="text" class="form-control" name="TrangThai" placeholder="Nhập phản hồi" value="@ungtuyen.TrangThai" style="background-color: #54ec82; color: black;" />
                                    <button type="submit" class="btn btn-success mt-2">Gửi lại phản hồi</button>
                                }
                            </form>
                        </td>


                    </tr>
                }
            </tbody>
        </table>
        }
        else
        {
            <p>Không có ứng viên nào ứng tuyển</p>
        }
    </div>
    <script>
        $(document).ready(function () {
            $('.feedback-form').on('submit', function (e) {
                e.preventDefault();
                var $form = $(this);
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SaveFeedback", "NTD")', // Đảm bảo URL đúng
                    data: $form.serialize(),
                    success: function (response) {
                        alert('Phản hồi đã được gửi thành công.');
                    },
                    error: function (xhr, status, error) {
                        alert('Có lỗi xảy ra. Vui lòng thử lại.');
                    }
                });
            });
        });
    </script>
</body>
</html>
