@model WEBTimViec.Models.BaiTuyenDung

@{
    ViewData["Title"] = "Chi tiết bài tuyển dụng của công ty: ";
}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div>
        <p>
            <a href="@Url.Action("Index")" class="button">Quay lại</a>
        </p>
    </div>
    <div class="container-fluid bg-green mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
        <h3 class="tieude">@ViewData["Title"]</h3>
            <div class="form-container">
                <h3 class="card-title">@Model.TenCongViec</h3>
@*                 <p class="card-text"><strong>Tên công ty:</strong> @Model.applicationUser.FullName</p> *@
                <p class="card-text"><strong>Mô tả công việc:</strong> @Model.MoTaCongViec</p>
                <p class="card-text"><strong>Yêu cầu kỹ năng:</strong> @Model.YeuCauKyNang</p>
                <p class="card-text"><strong>Phúc lợi:</strong> @Model.PhucLoi</p>
                <p class="card-text"><strong>Lương:</strong> @Model.Luong_min - @Model.Luong_max triệu đồng</p>
                <p class="card-text"><strong>Loại công việc:</strong> @Model.KieuCongViec</p>
                <p class="card-text"><strong>Hạn nộp hồ sơ:</strong> @Model.ThoiGianHetHan</p>
                <p class="card-text"><strong>Thành phố:</strong> @ViewData["TenTP"]</p>
                <p class="card-text">
                    <strong>Chuyên ngành:</strong>
                    @if (ViewBag.ChuyenNganhs != null)
                    {
                        @string.Join(", ", ViewBag.ChuyenNganhs)
                    }
                </p>
                <p class="card-text">
                    <strong>Vị trí công việc:</strong>
                    @if (ViewBag.ViTriCongViecs != null)
                    {
                        @string.Join(", ", ViewBag.ViTriCongViecs)
                    }
                </p>
                <p class="card-text">
                    <strong>Kỹ năng mềm:</strong>
                    @if (ViewBag.KyNangMems != null)
                    {
                        @string.Join(", ", ViewBag.KyNangMems)
                    }
                </p>

            </div>
    </div>
</body>
</html>
