@model IEnumerable<WEBTimViec.Models.BaiTuyenDung>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/NhaTuyenDung.css">
    <style>
        .tieude {
            margin-top: 40px;
            text-align: center;
        }
    </style>
</head>
<body>
    <button class="styled-button">
        <a style="color: black;" href="@Url.Action("Index", "NTD")"> <<< </a>
    </button>
    <div class="container khung">
        <h1 class="tieude">Danh sách bài ứng tuyển</h1>
        <button class="styled-button">
            <a style="color: black;" href="@Url.Action("Test", "NTD")"> Hiển thị dưới dạng danh sách ứng tuyển </a>
        </button>
        <div class="row">
            @foreach (var baiTuyenDung in Model)
            {
                <div class="col-md-3">
                    <div class="card" data-url="@Url.Action("DetailsUngTuyen", "NTD", new { id = baiTuyenDung.BaiTuyenDung_id })">
                        <div class="card-body">
                            <h5 class="card-title"><strong>Công ty: </strong>@baiTuyenDung.applicationUser.NhaTuyenDung_name </h5>
                            <img src="@baiTuyenDung.applicationUser.image_url" alt="Logo" class="img-fluid">
                            <h5 class="card-title overflow-ellipsis"><strong>Công việc: </strong>@baiTuyenDung.TenCongViec</h5>
                            <a href="@Url.Action("DetailsUngTuyen", "NTD", new { id = baiTuyenDung.BaiTuyenDung_id })" class="btn btn-info">Chi tiết</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    </div>

</body>
</html>
