@model ViewModel

@{
    ViewData["Title"] = "Trang chủ  ";
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="~/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.ico">
    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="~/assets/css/main.css" rel="stylesheet">
</head>

<body>
    <div class="khung container">
        <!-- Slider Section -->
        <section class="slider-area">
            <div class="slider-active">
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <img class="hero__image media" src="~/images/elements/g1.jpg" alt="" style="width: 100%; height: auto;">
                            </div>
                            <div class="col-xl-6 col-lg-9 col-md-10">
                                <div class="hero__caption">
                                    <h1>Bạn có công việc</h1>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-3 col-md-2">
                                <div class="hero__caption">
                                    <h1>Chúng tôi có nhân lực</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Featured Majors Section -->
        <section class="our-services section-pad-t30 mt-5">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle text-center">
                        <span>QUYẾT ĐỊNH TƯƠNG LAI CỦA BẠN</span>
                        <h2>Chuyên ngành nổi bật</h2>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                @foreach (var major in Model.Majors)
                {
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="single-services text-center">
                            <div class="services-cap">
                                <h5><a href="#">@major.ChuyenNganhName</a></h5>
                                <span>(@major.JobCount)</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>

        <!-- View All Jobs Section -->
        <section class="view-all-jobs text-center mt-5">
            <a href="@Url.Action("ListBaiTuyenDung", "NTD")" class="btn btn-primary">Tất cả bài tuyển dụng</a>
        </section>
@* 
        <!-- Job Search Section -->
        <section class="job-search card mt-5">
            <div class="card-body">
                <div class="section-tittle text-center">
                    <span>Tìm kiếm công việc bạn ưa thích</span>
                </div>
                <form action="@Url.Action("TimKiem", "NTD")" method="get">
                    <div class="row g-2 align-items-end">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="JobName" class="control-label font-weight-bold">Tên công việc</label>
                                <input type="text" name="JobName" class="form-control" placeholder="Tên công việc" value="@Model.JobName" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="ThanhPhoId" class="control-label font-weight-bold">Địa điểm công ty</label>
                                <select asp-for="ThanhPhoId" class="form-control">
                                    <option value="">-- Chọn tỉnh - Thành phố --</option>
                                    @foreach (var thanhPho in Model.ThanhPhos)
                                    {
                                        <option value="@thanhPho.ThanhPho_id">@thanhPho.ThanhPho_name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="chuyenNganhId" class="control-label font-weight-bold">Chuyên ngành yêu cầu</label>
                                <select asp-for="chuyenNganhId" class="form-control">
                                    <option value="">-- Chọn chuyên ngành --</option>
                                    @foreach (var chuyenNganh in Model.ChuyenNganhs)
                                    {
                                        <option value="@chuyenNganh.ChuyenNganh_id">@chuyenNganh.ChuyenNganh_name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-auto">
                            <button type="submit" class="btn btn-dark border-0">Tìm kiếm</button>
                        </div>
                    </div>
                </form>
            </div>
        </section> *@

        <!-- Job Listings Section -->
        @* <section class="job-listings card mt-5">
            <div class="card-body">
                <div class="section-tittle text-center">
                    <span>Bài tuyển dụng phù hợp</span>
                </div>
                <div class="row">
                    @foreach (var baiTuyenDung in Model.BaiTuyenDungs)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title text-center" style="font-size: 1.5rem; font-style: italic;">@baiTuyenDung.TenCongViec</h5>
                                    <p class="card-text"><strong>Công ty: </strong>@baiTuyenDung.applicationUser.NhaTuyenDung_name</p>
                                    <p class="card-text"><strong>Yêu cầu kỹ năng: </strong>@baiTuyenDung.YeuCauKyNang</p>
                                    <p class="card-text"><strong>Thành phố làm việc: </strong>@baiTuyenDung.thanhPho.ThanhPho_name</p>
                                    <p class="card-text"><strong>Lương: </strong>@baiTuyenDung.Luong_min - @baiTuyenDung.Luong_max triệu đồng</p>
                                    <p class="card-text"><strong>Loại công việc: </strong>@baiTuyenDung.KieuCongViec</p>
                                    <p class="card-text"><strong>Hạn nộp hồ sơ: </strong>@baiTuyenDung.ThoiGianHetHan</p>
                                    <div class="text-center">
                                        <a href="@Url.Action("DetailsBaiTuyenDung", new { id = baiTuyenDung.BaiTuyenDung_id })" class="btn btn-primary">Chi tiết</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section> *@
        <section class="job-listings card mt-5">
            <div class="card-body">
                <div class="section-tittle text-center">
                    <span>Các ứng viên phù hợp</span>
                </div>
                <div class="row">
                    @foreach (var ungvien in Model.ApplicationUsers)
                    {
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <a href="@Url.Action("IndexProfileUV", "NTD", new { id = ungvien.Id })">
                                    <img src="@ungvien.image_url" class="card-img-top" alt="@ungvien.FullName" style="height: 200px; object-fit: cover;">
                                </a>
                                <div class="card-body">
                                    <h5 class="card-title text-center" style="font-size: 1.5rem; font-style: italic;">
                                        <a href="@Url.Action("IndexProfileUV", "NTD", new { id = ungvien.Id })">@ungvien.FullName</a>
                                    </h5>
                                    <p class="text-center">@ungvien.SDT_UngVien</p>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </section>

    </div>
</body>