@model IEnumerable<WEBTimViec.Models.BaiTuyenDung>

@{
    ViewData["Title"] = "Danh sách bài tuyển dụng";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> JobPlus </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/price_rangs.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/animate.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/slick.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/NhaTuyenDung.css">
</head>
<body>
    <div class="button-container">
        <button class="styled-button">
            <a style="color: black;" href="@Url.Action("Index", "NTD")"> <<< </a>
        </button>
        <button class="styled-button">
            <a style="color: black;" href="@Url.Action("AddBaiTuyenDung", "NTD")"> Thêm bài tuyển dụng mới </a>
        </button>
    </div>
    <div class="khung2">
        <div>
            <h3 class="tieude"> Các chiến dịch tuyển dụng của công ty </h3>
        </div>
        @if (Model.Any())
        {
            var firstItem = Model.First();
            <a href="@Url.Action("IndexProfileNTD", "NTD")" >
                <img src="@firstItem.applicationUser.image_url" title="Nhấn vào đây để xem thông tin" alt="Logo công ty" class="company-logo1">
            </a>
        }
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card2">
                        <div class="card-body">
                            @*
                        <p>@item.applicationUser.FullName</p> *@

                            <h3 class="card-title overflow-ellipsis">@item.TenCongViec</h3>
                            <p class="card-text overflow-ellipsis"><strong>Công ty: </strong>@item.applicationUser.NhaTuyenDung_name</p>
                            <p class="card-text overflow-ellipsis"><strong>Yêu cầu kỹ năng:</strong> @item.YeuCauKyNang</p>
                            <p class="card-text overflow-ellipsis"><strong>Thành phố làm việc:</strong> @item.thanhPho.ThanhPho_name</p>
                            <p class="card-text overflow-ellipsis"><strong>Lương:</strong> @item.Luong_min - @item.Luong_max triệu đồng</p>
                            <p class="card-text overflow-ellipsis"><strong>Loại công việc:</strong> @item.KieuCongViec</p>
                            <p class="card-text overflow-ellipsis"><strong>Hạn nộp hồ sơ:</strong> @item.ThoiGianHetHan</p>
                            <a href="@Url.Action("DetailsBaiTuyenDung", new { id = item.BaiTuyenDung_id })" class="border-btn2">Chi tiết</a>
                            <a href="@Url.Action("DeleteBTD", new { id = item.BaiTuyenDung_id })" class="border-btn2">Xóa</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
