@model IEnumerable<WEBTimViec.Models.BaiTuyenDung>

@{
    ViewData["Title"] = "Danh sách bài tuyển dụng";
}

<!DOCTYPE html>
<html lang="vi">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobPlus</title>
    <link rel="stylesheet" href="~/css/ViewIndex.css">
</head>
<body class="background">
    <div class="header">
        <img src="~/images/Logo.jpg" class="logo" />
        <h1> JobPlus </h1>
    </div>
    <div>
        <p>
            <a href="@Url.Action("Index")" class="button">Quay lại</a>
        </p>
    </div>
    <div class="container-fluid bg-green mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
        <div> 
            <h3 class="tieude"> Các chiến dịch tuyển dụng của công ty </h3>
        </div>
        <p>
            <a href="@Url.Action("AddBaiTuyenDung")" class="button">Thêm bài tuyển dụng mới</a>
        </p>
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                        <div class="form-container">
                            <h3 class="card-title">@item.TenCongViec</h3>
                            <p class="card-text"><strong>Mô tả công việc:</strong> @item.MoTaCongViec</p>
                            <p class="card-text"><strong>Yêu cầu kỹ năng:</strong> @item.YeuCauKyNang</p>
                            <p class="card-text"><strong>Phúc lợi:</strong> @item.PhucLoi</p>
                            <p class="card-text"><strong>Lương:</strong> @item.Luong_min - @item.Luong_max triệu đồng</p>
                            <p class="card-text"><strong>Loại công việc:</strong> @item.KieuCongViec</p>
                            <p class="card-text"><strong>Hạn nộp hồ sơ:</strong> @item.ThoiGianHetHan</p>
                    <a href="@Url.Action("DetailsBaiTuyenDung", new { id = item.BaiTuyenDung_id })" class="button">Chi tiết</a>
                        </div>
                </div>
            }
    </div>
</body>
</html>
